*.log         # Ignorar archivos .log
node_modules/  # Ignorar la carpeta node_modules
*.pyc         # Ignorar archivos compilados de Python
.ipynb_checkpoints/
venv/
.env
__pycache__/
.DS_Store
.next/
dist/       # Ignorar entorno virtual de Python
